<nav class="navbar navbar-expand-lg border_bottom">
    <div class="container-fluid">
        <a class="navbar-brand border_right desktop_content" [routerLink]="['/']">Logo</a>
        <div class="collapse navbar-collapse column-gap_40" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <div class="text HeadingLg semibold">Delivery in 8 minutes</div>
                        <div *ngIf="currentLocation" class="text-tertiary BodyMd Regular">{{currentLocation.city}} {{currentLocation?.state}} {{currentLocation?.zip_code}}</div>
                    </a>
                    <span class="icon icon-edit" (click)="openHomePageGoogleAddressModal()">edit</span>
                </li>
                <li class="nav-item mobile_content my-auto">
                    <a class="nav-link " aria-current="page" href="#">
                        <span class="material-symbols-outlined">
                            account_circle
                        </span>
                    </a>
                </li>
            </ul>
            <div class="frame flex_grow column_gap">
                <div class="my-auto frmae_fill">
                    <input type="text" class="form-control custom_input" placeholder="Search">
                </div>
                <div class="my-auto login_button desktop_content">
                    <a class="" href="#">Login</a>
                </div>
                <div class="my-auto cart_button desktop_content flex">
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                    <div class="">
                        <div class="BodySm semibold">4 items</div>
                        <div class="BodySm semibold">$ 20.35</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="location-modal modal fade" id="homePageGoogleAddressModal" tabindex="-1" role="dialog" aria-labelledby="eventModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="card-modal-header">
            <button type="button" class="close1" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-card-body" >
            <h4> Please select your location </h4>
            <input class="form-control search-box-text" type="text" [(ngModel)]="autocompleteInput" #addresstext>
        </div>
        </div>
    </div>
</div>
