<nav class="navbar navbar-expand-lg border_bottom">
    <div class="container-fluid">
        <!-- <a class="navbar-brand border_right desktop_content logo" [routerLink]="['/']">Ganesha</a> -->
        <a class="navbar-brand border_right desktop_content" [routerLink]="['/']">
            <img src="assets/images/GE_LOGO_01.png" width="60px" height="60px" alt="Ganesha Logo" class="logo-image">
          </a>
        <div class="collapse navbar-collapse column-gap_40" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" >
                        <div class="text HeadingLg semibold">Delivery in 8 minutes</div>
                        <div *ngIf="currentLocation" class="text-tertiary BodyMd Regular">{{currentLocation.city}} {{currentLocation?.state}} {{currentLocation?.zip_code}}</div>
                    </a>
                    <!-- <span class="icon icon-edit" (click)="openHomePageGoogleAddressModal()">edit</span> -->
                </li>
                <li class="nav-item mobile_content my-auto">
                    <a class="nav-link " aria-current="page" routerLink="/account" (click)="navigateToAccount()" >
                        <span class="material-symbols-outlined">
                            account_circle
                        </span>
                    </a>
                </li>
            </ul>
            <div class="frame flex_grow column_gap">
                <div class="my-auto frmae_fill">
                    <input type="text" class="form-control custom_input" placeholder="Search">
                </div>
                <div *ngIf="!isLoggedin" class="my-auto login_button desktop_content">
                    <a class="" href="javascript:void(0);"  data-bs-toggle="modal" data-bs-target="#login-modal" (click)="checkClass()">Login</a>
                </div>
                <div *ngIf="isLoggedin" class="my-auto login_button desktop_content">
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Account
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" [routerLink]="['/account']" routerLinkActive="router-link-active" >{{userPhone}}</a>
                          <a class="dropdown-item" [routerLink]="['/orders']">My Orders</a>
                          <a class="dropdown-item" href="#">Saved Address</a>
                          <a class="dropdown-item" href="#">My Wallet</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">FAQ's</a>
                          <a class="dropdown-item" (click)="logout()">Log Out</a>
                        </div>
                      </div>                </div>
                <div (click)="isUserLoggedin()" class="my-auto cart_button desktop_content flex">
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                    <div class="" *ngIf="isLoggedin">
                        <div class="BodySm semibold">{{cartCount}} items</div>
                        <div class="BodySm semibold">₹ {{cartTotalPrice}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="location-modal modal fade" id="homePageGoogleAddressModal" tabindex="-1" role="dialog" aria-labelledby="eventModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="card-modal-header">
            <button type="button" class="close1" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-card-body" >
            <h4> Please select your location </h4>
            <input class="form-control search-box-text" type="text" [(ngModel)]="autocompleteInput" #addresstext>
        </div>
        </div>
    </div>
</div>

<!--LOGIN model-end -->
<div class="modal fade" id="login-modal" aria-hidden="true" aria-labelledby="login-modalLabel"
tabindex="-1">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <form (ngSubmit)="f.form.valid && login(f.form.valid)" #f="ngForm">
        <div class="modal-body">
            <div class="frame-group login">
                <div>
                    <img src="assets/images/GE_LOGO_01.png" width="60px" height="60px">
                </div>
                <div class="HeadingXl">India's last minute app</div>
                <div class="BodyLg text-tertiary">Log in or Sign up</div>
                <div class="form-floating mb-3 mt-3">
                    <input type="text" [(ngModel)]="credentials.phone" #phone="ngModel" name="phone" class="form-control" id="floatingInput" placeholder="1234567890" required>
                    <label for="floatingInput">Digits Mobile number </label>
                    <div class="form-text text-danger "
                    *ngIf="!phone.valid && (phone.dirty || phone.touched || f.submitted)">
                              Please Enter Your Mobile Number
                    </div>
                </div>
                <div *ngIf="isLoading" class="d-flex justify-content-center">
                    <div class="spinner-border text-primary spinner" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2" >Login</button>
                <span class="BodySm Regular text-tertiary">By continuing, you agree to our Terms of service & Privacy policy</span>
            </div>
        </div>
    </form>
    </div>
</div>

<div id="recaptcha-container"></div>

</div>
<div class="modal fade otp-modal" id="otp-modal" aria-hidden="true" aria-labelledby="login-modalLabel" tabindex="-1">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
            <form (ngSubmit)="f.form.valid && verifyOtp()" #otpForm="ngForm">
        <div class="modal-body">
            <div class="frame-group login">
                <div>
                    <img src="assets/images/GE_LOGO_01.png" width="60px" height="60px">
                </div>
                <div class="HeadingXl">OTP Verification</div>
                <div class="BodyLg text-tertiary">We have sent a verification code to {{credentials.phone}}</div>
                <div class="form-floating mb-3 mt-3">
                    <input type="text" [(ngModel)]="credentials.otp" #otp="ngModel" name="otp" class="form-control" id="floatingInput" placeholder="+911234567890" required>
                    <label for="floatingInput">Enter OTP</label>
                    <div class="form-text text-danger "
                    *ngIf="!otp.valid && (otp.dirty || otp.touched || otpForm.submitted)">
                              Please Enter OTP
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2" [disabled]="!otpForm.form.valid">verify </button>
                <a class="BodySm Regular text-tertiary" >Resend Code (in 27 secs)</a>
            </div>
        </div>
    </form>
    </div>
</div>
</div>
<!-- model-end -->