<footer>
    <div class="bottom_bar">
        <div class="item_list">
            <a class="item" routerLink="/">
                <span class="material-symbols-outlined">
                    home
                </span>
            </a>
            <a class="item" routerLink="/">
                <span class="material-symbols-outlined">
                    action_key
                </span>
            </a>
            <a class="item" (click)="isUserLoggedin()">
                <span class="material-symbols-outlined">
                    shopping_cart
                </span>
                <span *ngIf="cartCount > 0" class="cart-item-count">{{ cartCount }}</span>
            </a>
            <a  class="item " aria-current="page" (click)="navigateToAccount()">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h5 class="HeadingLg semibold">Useful Links</h5>
            <div class="frame flex-row column-gap_60">
                <div class="">
                    <div class="BodyMd Regular text-tertiary pb-2">About</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Careers</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Blog</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Press</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Lead</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Value</div>
                </div>
                <div class="">
                    <div class="BodyMd Regular text-tertiary pb-2"><a routerLink="/privacy-policy">Privacy</a> </div>
                    <div class="BodyMd Regular text-tertiary pb-2">Terms</div>
                    <div class="BodyMd Regular text-tertiary pb-2">FAQs</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Security</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Mobile</div>
                    <div class="BodyMd Regular text-tertiary pb-2"><a routerLink="/contact-us">Contact</a></div>
                </div>
                <div class="">
                    <div class="BodyMd Regular text-tertiary pb-2">Partner</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Express</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Seller</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Spotlight</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Warehouse</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Deliver</div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <h5 class="HeadingLg semibold">Categories</h5>
            <div class="row">
                <div class="col-4" *ngFor="let cat of allCategories; let i = index">
                    <div class="BodyMd Regular text-tertiary pb-2" (click)="browseCat(cat?.deeplink)" style="cursor: pointer;">{{cat.name}}</div>
                </div>
            </div>
        </div>
        
    </div>
</footer>