<footer>
    <div class="row">
        <div class="col-md-4">
            <h5 class="HeadingLg semibold">Useful Links</h5>
            <div class="frame flex-row column-gap_60">
                <div class="">
                    <div class="BodyMd Regular text-tertiary pb-2">About</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Careers</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Blog</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Press</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Lead</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Value</div>
                </div>
                <div class="">
                    <div class="BodyMd Regular text-tertiary pb-2">Privacy</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Terms</div>
                    <div class="BodyMd Regular text-tertiary pb-2">FAQs</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Security</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Mobile</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Contact</div>
                </div>
                <div class="">
                    <div class="BodyMd Regular text-tertiary pb-2">Partner</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Express</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Seller</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Spotlight</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Warehouse</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Deliver</div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h5 class="HeadingLg semibold">Categories</h5>
            <div class="frame flex-row space-between">
                <div class="">
                    <div class="BodyMd Regular text-tertiary pb-2">Vegetables & Fruits</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Cold Drinks & Juices</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Bakery & Biscuits</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Dry Fruits, Masala & Oil</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Paan Corner</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Pharma & Wellness</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Personal Care</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Beauty & Cosmetics</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Print Store</div>
                </div>
                <div class="">
                    <div class="BodyMd Regular text-tertiary pb-2">Dairy & Breakfast</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Instant & Frozen Food</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Sweet Tooth</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Sauces & Spreads</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Organic & Premium</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Cleaning Essentials</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Ice Creams & Frozen Desserts</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Magazines</div>
                </div>
                <div class="">
                    <div class="BodyMd Regular text-tertiary pb-2">Munchies</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Tea, Coffee & Health Drinks</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Atta, Rice & Dal</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Chicken, Meat & Fish</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Baby Care</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Home & Office</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Pet Care</div>
                    <div class="BodyMd Regular text-tertiary pb-2">Toys & Games</div>
                </div>
            </div>
        </div>
    </div>
</footer>