<main>
    <div class="app_content product_listing">
        <div class="product_category_tab mb-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Vegetables & Fruits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vegetables & Fruits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true">Munchies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true">Cold Drinks & Juices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true">Instant & Frozen Food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true">Tea, Coffee & Health Drinks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true">Bakery & Biscuits</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">More</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content_body">
            <div class="main_frame">
                <div class="frame product_category">
                    <div class="category_list">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Milk</div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Bread & Pav</div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Eggs</div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Flakes & Kids Cereals</div>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action disabled" aria-disabled="true">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Muesli & Granola</div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Bread & Pav</div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Eggs</div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Flakes & Kids Cereals</div>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action disabled" aria-disabled="true">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Muesli & Granola</div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Bread & Pav</div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Eggs</div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Flakes & Kids Cereals</div>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action disabled" aria-disabled="true">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Muesli & Granola</div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Bread & Pav</div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Eggs</div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Flakes & Kids Cereals</div>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action disabled" aria-disabled="true">
                                <div class="frame column-gap_20">
                                    <img src="assets/images/product-1.png">
                                    <div class="my-auto BodyMd Regular">Muesli & Granola</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="product_list">
                        <div class="product_list_group pt-0">
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-1.png" >
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1" data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-2.png">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-3.png">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-4.png">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-5.png">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-2.png">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-3.png">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-4.png">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-5.png">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-2.png">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-3.png">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-4.png">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="product_card">
                                <a class="" href="">
                                    <img src="assets/images/product-5.png">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">Harvest Gold 100% Atta Whole Wheat Bread</div>
                                            <div class="BodySm Regular">450 g</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹55</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>