<main>
    <div class="app_content product_listing">
        <div class="product_category_tab mb-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" (click)="getSubCategories('1487')">Vegetables & Fruits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getSubCategories('163')">Personal Care</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" (click)="getSubCategories('1273')">Munchies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" (click)="getSubCategories('332')">Cold Drinks & Juices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" (click)="getSubCategories('287')">Pharma & Wellness</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" (click)="getSubCategories('12')">Tea, Coffee & Health Drinks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" (click)="getSubCategories('888')">Bakery & Biscuits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" (click)="getSubCategories('229')">Paan Corner</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">More</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                        <li><a class="dropdown-item" href="#">Category name label</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content_body">
            <div class="main_frame">
                <div class="frame product_category">
                    <div class="category_list">
                        <div class="list-group">
                            <ng-container *ngFor="let catgory of subCategories.subCats">
                                <div (click)="getProductsbyChildCatId(catgory.id); setActiveCategory(catgory)" [class.active]="catgory === activeCategory" class="list-group-item list-group-item-action" aria-current="true" >
                                    <div class="frame column-gap_20">
                                        <img src="{{catgory.image}}">
                                        <div class="my-auto BodyMd Regular">{{catgory.name}}</div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="product_list">
                        <div class="product_list_group pt-0">
                            <div class="product_card" *ngFor="let product of products">
                                <a class="" [routerLink]="['/product', product.product_id]">
                                    <img src="{{product.image_url}}" >
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2">{{product.productName}}</div>
                                            <div class="BodySm Regular">{{product.unit}}</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹{{product.price}}</div>
                                            <div class="my-auto">
                                                <div class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantity1')">Add</div>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1" data-bts-max="100">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>