<main>
    <div class="app_content">
        <div class="content_body">
            <!-- <div class="bottom_bar">
                <div class="item_list">
                    <a class="item" href="#">
                        <span class="material-symbols-outlined">
                            home
                        </span>
                    </a>
                    <a class="item" href="#">
                        <span class="material-symbols-outlined">
                            action_key
                        </span>
                    </a>
                    <a class="item" href="#">
                        <span class="material-symbols-outlined">
                            shopping_cart
                        </span>
                    </a>
                    <a class="item" href="#">
                        <span class="material-symbols-outlined">
                            account_circle
                        </span>
                    </a>
                </div>
            </div> -->
            <section>
                <div class="hero_section">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center banner mt-2">
                                <img src="assets/images/banner_1.png" height="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
          
            <section>
                <div class="carousel_1">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="assets/images/GE_Carousel_1.png" alt="Slide 1"></div>
                            <div class="swiper-slide"><img src="assets/images/GE_Carousel_2.png" alt="Slide 2"></div>
                            <div class="swiper-slide"><img src="assets/images/GE_Carousel_1.png" alt="Slide 1"></div>
                            <div class="swiper-slide"><img src="assets/images/GE_Carousel_2.png" alt="Slide 2"></div>
                            <div class="swiper-slide"><img src="assets/images/GE_Carousel_1.png" alt="Slide 1"></div>
                            <div class="swiper-slide"><img src="assets/images/GE_Carousel_2.png" alt="Slide 2"></div>
                            <!-- <div class="swiper-slide"><img src="assets/images/carousel-3.png" alt="Slide 3"></div> -->
                            <!-- <div class="swiper-slide"><img src="assets/images/carousel-4.png" alt="Slide 3"></div> -->
                            <!-- Add more swiper slides as needed -->
                        </div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </section>


            <section>
                <div class="category_1">
                    <div class="grid text-center" *ngFor="let cat of allCategories">
                        <img src="{{cat.image}}" (click)="browseCat(cat.deeplink)">
                        <p>{{cat.name}}</p>
                    </div>  
                </div>
                <div class="text-center">
                    <button class="btn btn-outline-primary text-center" [routerLink]="['/products']">view more</button>
                </div>
            </section>
            <section>
                <h4 class="HeadingXl medium mb-3">Dairy, Bread & Eggs</h4>
                <div class="carousel_2 mb-4">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let product of products">
                                <div class="product_card">
                                    <a [routerLink]="['/product', product.product_id]"
                                    routerLinkActive="router-link-active">
                                    <img src="{{product.image_url}}"></a>
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2 prod-name">{{product.productName}}</div>
                                            <div class="BodySm Regular">{{product.unit}}</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹{{product.price}}</div>
                                            <!-- <div class="my-auto">
                                                <a class="add-to-cart my-auto addBtn" (click)="addToCart(product)">Add</a>
                                                <input id="quantity1" type="text" value="1" class="form-control" data-bts-min="1" data-bts-max="100">
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- Add more swiper slides as needed -->
                        </div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </section>

            <section>
                <h4 class="HeadingXl medium mb-3">Dry Fruits, Masala & Oil</h4>
                <div class="carousel_2 mb-4">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let product of products2">
                                <a [routerLink]="['/product', product.product_id]"
                                routerLinkActive="router-link-active"> 
                                <div class="product_card">
                                    <img src="{{product.image_url}}">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2 prod-name">{{product.productName}}</div>
                                            <div class="BodySm Regular">{{product.unit}}</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹{{product.price}}</div>
                                            <!-- <div class="my-auto">
                                                <a class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantityB1')">Add</a>
                                                <input id="quantityB1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                </a>   
                            </div>
                            <!-- Add more swiper slides as needed -->
                        </div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </section>
          
          
            <section>
                <h4 class="HeadingXl medium mb-3">Snacks & Munchies</h4>
                <div class="carousel_2">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let product of products3">
                                <a [routerLink]="['/product', product.product_id]"
                                routerLinkActive="router-link-active"> 
                                <div class="product_card">
                                    <img src="{{product.image_url}}">
                                    <div class="product_content">
                                        <div class="">
                                            <div class="BodyMd Medium text pb-2 prod-name">{{product.productName}}</div>
                                            <div class="BodySm Regular">{{product.unit}}</div>
                                        </div>
                                        <div class="frame space-between">
                                            <div class="BodySm semibold my-auto">₹{{product.price}}</div>
                                            <!-- <div class="my-auto">
                                                <a class="add-to-cart my-auto addBtn" onclick="toggleAdd('quantityC1')">Add</a>
                                                <input id="quantityC1" type="text" value="1" class="form-control" data-bts-min="1"
                                                    data-bts-max="100">
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <!-- Add more swiper slides as needed -->
                        </div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </section>
        </div>
    </div>


</main>

